.table-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    /* border-collapse: collapse; */
    /* border: 2px solid white; */
    width: 800px;
    height: 200px;
}
th{
    border-bottom: 1px solid yellow;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    color: white;
    text-align: center;
    /* border:1px solid tomato; */

}

td{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: white;
    /* border:1px solid tomato; */
 
}

th:hover{
    background-color:green; 
}

td:hover{
    background-color: greenyellow;
    color: black;
}