.main-header {
  text-align: center;
  padding: 20px 10px 20px 10px;
}

.xpo:hover{
 background-color:rgba(100,255,120,.1);
margin-right: 85%;
}

.xpo{
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px 20px 10px;
  margin-left: 5%;
}

.main-header:hover{
 font-language-override: normal;
  color: blue
}